$primary-color: #580f8b;
$secondary-color: #9933cc;
$icon-text-color: #777777;
$hamberger-menu-color:#00cc99;
$menu-bg-color:rgba(255, 255, 255, 0.95);
$border-color: #979797;
$white: #fff;
$font-family: helveticaneue;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@font-face {
    font-family: $font-family;
    src: url('fonts/#{$font-family}.eot');
    src: url('fonts/#{$font-family}.eot?#iefix') format('embedded-opentype'),
    url('fonts/#{$font-family}.svg##{$font-family}') format('svg'),
    url('fonts/#{$font-family}.woff') format('woff'),
    url('fonts/#{$font-family}.ttf') format('truetype');
}

@mixin font($font,
$style,
$weight) {
    font-family: $font;
    font-style: $style;
    font-weight: $weight;
}

// --- generator ---------------------------------------------------------------
@mixin mq($args...) {
    $media-type: 'only screen';
    $media-type-key: 'media-type';
    $args: keywords($args);
    $expr: '';
    @if map-has-key($args,
    $media-type-key) {
        $media-type: map-get($args, $media-type-key);
        $args: map-remove($args, $media-type-key);
    }
    @each $key,
    $value in $args {
        @if $value {
            $expr: "#{$expr} and (#{$key}: #{$value})";
        }
    }
    @media #{$media-type} #{$expr} {
        @content;
    }
}

// --- screen ------------------------------------------------------------------
@mixin screen($min,
$max,
$orientation: false) {
    @include mq($min-width: $min, $max-width: $max, $orientation: $orientation) {
        @content;
    }
}

@mixin max-screen($max) {
    @include mq($max-width: $max) {
        @content;
    }
}

@mixin min-screen($min) {
    @include mq($min-width: $min) {
        @content;
    }
}

@mixin min-device-screen($min) {
    @include mq($min-device-width: $min) {
        @content;
    }
}

@mixin screen-height($min,
$max,
$orientation: false) {
    @include mq($min-height: $min, $max-height: $max, $orientation: $orientation) {
        @content;
    }
}

@mixin max-screen-height($max) {
    @include mq($max-height: $max) {
        @content;
    }
}

@mixin min-screen-height($min) {
    @include mq($min-height: $min) {
        @content;
    }
}
